extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')

  div#cont
    ul#slideshow
      if (screen)
        script var slidespeed = #{screen.speed}
        script var screencfg = !{JSON.stringify(screen)}
        if (screen.files != "")
          for file in screen.files
            li(class='slide')
              if ( file.endsWith(".mp4") || file.endsWith(".webm") )
                video(src=`/images/${file}` muted)
                p #{file}
              else 
                img(src=`/images/${file}`, alt='', srcset='')

        else 
          p NO FILES
      else
        p NO SCREEN
  script(src='/javascripts/carousel.js')
  script(src="/javascripts/live.js")